<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="D:\Projects\nLogs\caProducts_Internal.log">
  <include file="D:\Projects\nLogs\nLogSecrets.txt" />

  <extensions>
    <add assembly="Microsoft.Extensions.Hosting" />
    <add assembly="Microsoft.Data.SqlClient" />
    <add assembly="NLog.Extensions.Hosting" />
    <add assembly="NLog.MailKit"/>
  </extensions>

  <targets>
    <!--Запись в файл-->
    <target xsi:type="File" name="fileAll"    fileName="${logDir}/all.log"    deleteOldFileOnStartup="true" concurrentWrites="true" />

    <!--Разделить по файлам-->
    <target xsi:type="File" name="fileTrace"  fileName="${logDir}/Trace.log"  deleteOldFileOnStartup="true" concurrentWrites="true" />
    <target xsi:type="File" name="fileDebug"  fileName="${logDir}/Debug.log"  deleteOldFileOnStartup="true" concurrentWrites="true" />
    <target xsi:type="File" name="fileInfo"   fileName="${logDir}/Info.log"   deleteOldFileOnStartup="true" concurrentWrites="true" />
    <target xsi:type="File" name="fileWarn"   fileName="${logDir}/Warn.log"   deleteOldFileOnStartup="true" concurrentWrites="true" />
    <target xsi:type="File" name="fileErrors" fileName="${logDir}/Error.log"  deleteOldFileOnStartup="true" concurrentWrites="true" />
    <target xsi:type="File" name="fileFatal"  fileName="${logDir}/Fatal.log"  deleteOldFileOnStartup="true" concurrentWrites="true" />

    <!--Запись в SQLServer-->
    <target xsi:type="Database" name="sqlserver"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>${MSSQLConnectionString}</connectionString>
      <commandText>
        insert into dbo.log1(log_date,log_level,log_logger, log_message, stacktrace)
        values(@time_stamp, @level, @logger, @message, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate} "/>
      <parameter name="@level"      layout="${level}    "/>
      <parameter name="@logger"     layout="${logger}   "/>
      <parameter name="@message"    layout="${message}  "/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>

    <!--Отправка по почте-->
    <target xsi:type="Mail" name="mail"
            smtpUserName      ="andrey@mizerov.com"
            smtpPassword      ="${MailPassword}"
            smtpAuthentication="Basic"
            smtpServer        ="smtp.yandex.ru"
            smtpPort          ="587"
            from              ="andrey@mizerov.com" 
            to                ="andrey@mizerov.com" />

    <!--Запись в порт-->
    <target xsi:type="NLogViewer" name="TcpOutlet" address="tcp://localhost:4505" />

  </targets>

  <rules>

    <!--В один файл-->
    <logger name="*" minlevel="Trace" writeTo="fileAll" />

    <!--Разделить по файлам-->
    <logger name="*" level="Trace"  writeTo="fileTrace" />
    <logger name="*" level="Debug"  writeTo="fileDebug" />
    <logger name="*" level="Info"   writeTo="fileInfo" />
    <logger name="*" level="Warn"   writeTo="fileWarn" />
    <logger name="*" level="Error"  writeTo="fileErrors" />
    <logger name="*" level="Fatal"  writeTo="fileFatal" />

    <!--На почту-->
    <logger name="*" minlevel="Error" writeTo="mail" />
    <!--В один SQL Serve-->
    <logger name="*" minlevel="Trace" writeTo="sqlserver"/>
    <!--В Порт для Log2Console-->
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet" />

  </rules>

</nlog>